html {
    overflow-y: scroll;
}

body {
    color: #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    color: #FFD200;
    font-size: 17.5px;
}

a:hover {
    text-decoration: none;
}

hr {
    border-color: #454545;
    border-top: none;
}

#logo a {
    display: block;
    color: #FFD200;
}

.menu-wrapper {
    position: relative;
    float: left;
    left: 50%;
}

ul.menu {
    list-style-type: none;
    overflow: hidden;
    float: left;
    position: relative;
    left: -50%;
    margin: 0;
}

ul.menu > li {
    float: left;
}

ul.menu > li > a {
    display: block;
    padding: 0 15px;
    color: #999;
    text-transform: uppercase;
}

ul.menu > li > a:hover, ul.menu > li.current > a {
    color: #fff;
}

#container {
    background: #000;
    padding: 0 30px;
    border-radius: 20em;
    margin: 60px auto;
}

#header {
    height: 141px;
    padding-top: 40px;
    text-align: center;
}

#content {
    min-height: 140px;
}

#content > p:first-child, #content > blockquote:first-child {
    margin-top: 10px;
}

.fancybox {
    display: block;
    height: 139px;
    /*background: url(/uploads/images/ajax-loader.gif) no-repeat center center;*/
}

#footer {
    height: 141px;
    padding-bottom: 40px;
    text-align: center;
    color: #454545;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 460px;
}

.img-polaroid {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    padding: 0;
    padding: 0 5px;
}
